<div class="entries clearfix">
	<div class="entries-ids">
		<ul>
			<li ng-repeat="entry in entries" ng-click="setSelectedEntry(entry)" ng-class="{ active: isSelectedEntry(entry) }">{{ entry[idColumn] }}</li>
		</ul>
	</div>

	<div class="entries-detail">
		<!-- <pre ng-class="{ hidden: !hasSelectedEntry() }" >{{ selectedEntry | debug }}</pre> -->
		<table>
			<tr class="entries-row" ng-repeat="(key, value) in selectedEntry">
				<td class="name">{{ key }}</td>
				<td class="value">
					<input type="text" ng-model="value">
				</td>
			</tr>
		</table>
	</div>
</div>